<div class="container heading-container">

  <h2 class="heading-text">key issues</h2>
  
  <div class="issue-container">
    <div class='row'>

      <div class='col-xs-6'>
        <%= image_tag("twitter_logo_icon.png", class:"issue-index-icon") %>
        <h4>select a key issue to see a politician's twitter activity</h4>
      </div>

      <div class="col-xs-6">
        <%= image_tag("congress_icon.png", class:"issue-index-icon") %>
        <h4>select a key issue below to see a legislator's activity</h4>
      </div>

    </div>

    <div class="row">
      <div class='col-xs-6'>
          <p><%= link_to image_tag("issue_twitter_economy.png", class: "issue-index-icon"), issue_path(@economy) %></p>

          <p><%= link_to image_tag("issue_twitter_gunlaws.png", class: "issue-index-icon"), issue_path(@gunlaws) %></p>

          <p><%= link_to image_tag("issue_twitter_healthcare.png", class: "issue-index-icon"), issue_path(@healthcare) %></p>

          <p><%= link_to image_tag("issue_twitter_immigration.png", class: "issue-index-icon"), issue_path(@immigration) %></p>

          <p><%= link_to image_tag("issue_twitter_lgbtq.png", class: "issue-index-icon"), issue_path(@lgbtq) %></p>  
      </div>


      <div class='col-xs-6'>

          <p><%= link_to image_tag("issue_congress_economy.png", class: "issue-index-icon"), root_path %></p>

          <p><%= link_to image_tag("issue_congress_gunlaws.png", class: "issue-index-icon"), root_path %></p>

          <p><%= link_to image_tag("issue_congress_healthcare.png", class: "issue-index-icon"), root_path %></p>

           <p><%= link_to image_tag("issue_congress_immigration.png", class: "issue-index-icon"), root_path %></p>
           
          <p><%= link_to image_tag("issue_congress_lgbtq.png", class: "issue-index-icon"), root_path %></p>

      </div>

    </div>

  </div>
</div>