<div class="container heading-container">
  <h2 class="heading-text"><%= @issue.name %></h2>

  <div class="row issues-show-subheading-container">
    <div class="col-xs-4">
      <%= image_tag(@issue.image, class:"issues-show-issue-icon-header") %>
    </div>

    <div class="col-xs-8">
      <h4 id="select-politician-issue">select a politician to view their tweets on <%= @issue.name.downcase %></h4>
    </div>
  </div>

<div class="issues-show-search-container">
  <div id="home-search-bar-div"><%= render partial: '/issues/poli_issue_search', layout: false %> 
  </div>
  </div>


  <% @politicians.each do |politician| %>
    <div class="row issues-show-politician-list-container">

      <div class="col-xs-4">

        <ul class="list-unstyled">
          <li><%= link_to image_tag(politician.image, class: "politician-image"), interest_path(@issue, :politician_id => politician.id) %></li>
        </ul>

      </div>

        <div class="col-xs-8 issues-show-politician-list-text">

          <ul class="list-unstyled">
            <li><%= link_to politician.name, interest_path(@issue, :politician_id => politician.id) %></li>    
          </ul>

        </div>

      </div>

    <% end %>

