<div class="container heading-container">
  <h2 class="heading-text">about flip-flop</h2>
  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed urna quam, hendrerit id fermentum rhoncus, rhoncus in diam. Vestibulum efficitur volutpat dui, sed interdum ipsum pharetra sed. .</p>


  <h2>credits</h2>

  <h3>the creators of flip-flop</h3>
    <ul class="list-unstyled">
      <li>Name, github: <%= link_to "github url", "http://www.github.com", target: "_blank"  %></li>
      <li>Name, github: <%= link_to "github url", "http://www.github.com", target: "_blank" %></li>
      <li>Name, github: <%= link_to "github url", "http://www.github.com", target: "_blank"  %></li>
      <li>Name, github: <%= link_to "github url", "http://www.github.com", target: "_blank"  %></li>
      <li>Name, github: <%= link_to "github url", "http://www.github.com", target: "_blank"  %></li>
    </ul>


  <h4>icons featured throughout the site:</h4>
  <ul class="list-unstyled">
    <li><%= link_to "Gun", "https://thenounproject.com/search/?q=guns&i=138", target: "_blank" %> icon by Edward Boatman from <%= link_to "the Noun Project", "https://thenounproject.com/", target: "_blank" %>.</li>

    <li><%= link_to "Couple", "https://thenounproject.com/search/?q=lgbt&i=207746", target: "_blank" %> icon by Universal Icons from <%= link_to "the Noun Project", "https://thenounproject.com/", target: "_blank" %>.</li>

    <li><%= link_to "Money", "https://thenounproject.com/search/?q=economy&i=95454", target: "_blank" %> icon by from gira Park, KR <%= link_to "the Noun Project", "https://thenounproject.com/", target: "_blank" %>.</li>

    <li><%= link_to "Stethoscope", "https://thenounproject.com/search/?q=healthcare&i=148183", target: "_blank" %> icon by Gregor Črešnar from <%= link_to "the Noun Project", "https://thenounproject.com/", target: "_blank" %>.</li>

    <li><%= link_to "Congress", "https://thenounproject.com/search/?q=congress&i=28299", target: "_blank" %> icon by Steve Morris from <%= link_to "the Noun Project", "https://thenounproject.com/", target: "_blank" %>.</li>


  <ul>

</div>