<div class="container heading-container">
  <h2 class="heading-text">about flip flop</h2>
    <p class="text-justify about-blurb">Flip Flop was created to provide potential voters with an unbiased, concise, and easy to use interface with crucial information about elected officials’ congressional voting records and their tweets about key issues.</p>

    <p class="text-justify about-blurb">We know that it can be overwhelming to filter through all of the noise and get to the core of the current political landscape. Our goal is to empower you to participate in our democracy by using your voice and your vote to get the government that represents you.</p>

    <p class="text-justify about-blurb">Make a more informed choice with Flip Flop today!</p>

    <p class="text-justify about-blurb about-blurb-note">Note: Flip Flop is designed for mobile view only. Desktop version coming soon!</p>

  <h3 class="underline-text">the creators of flip flop</h3>
    <ul class="list-unstyled">
      <div class="about-list-items">
        <li><%= link_to "Calvin C. Ieong", "http://www.github.com/icalving", target: "_blank"  %></li>
        <li><%= link_to "Chand Nirankari", "http://www.github.com/radicaldesi", target: "_blank" %></li>
        <li><%= link_to "Chris Praktish", "http://www.github.com/cprakti", target: "_blank"  %></li>
        <li><%= link_to "Diana Ozemebhoya Eromosele", "http://www.github.com/dianaeromosele", target: "_blank"  %></li>
        <li><%= link_to "Ted Bogin", "http://www.github.com/tbogin", target: "_blank"  %></li>
      </div>
    </ul>

  <h4 class="underline-text">icons featured throughout the site:</h4>
  <ul class="list-unstyled">
    <div class="about-list-items">
      <li><%= link_to "Gun", "https://thenounproject.com/search/?q=guns&i=138", target: "_blank" %> icon by Edward Boatman from <%= link_to "the Noun Project", "https://thenounproject.com/", target: "_blank" %>.</li>

      <li><%= link_to "Couple", "https://thenounproject.com/search/?q=lgbt&i=207746", target: "_blank" %> icon by Universal Icons from <%= link_to "the Noun Project", "https://thenounproject.com/", target: "_blank" %>.</li>

      <li><%= link_to "Money", "https://thenounproject.com/search/?q=economy&i=95454", target: "_blank" %> icon by from gira Park, KR <%= link_to "the Noun Project", "https://thenounproject.com/", target: "_blank" %>.</li>

      <li><%= link_to "Stethoscope", "https://thenounproject.com/search/?q=healthcare&i=148183", target: "_blank" %> icon by Gregor Črešnar from <%= link_to "the Noun Project", "https://thenounproject.com/", target: "_blank" %>.</li>

      <li><%= link_to "Congress", "https://thenounproject.com/search/?q=congress&i=28299", target: "_blank" %> icon by Steve Morris from <%= link_to "the Noun Project", "https://thenounproject.com/", target: "_blank" %>.</li>
      </div>
   </ul>

  <h4 class="underline-text">logo designed by:</h4>
    <ul class="list-unstyled">
      <div class="about-list-items">
        <li>Zul Atmosudirdjo</li>
      </div>
    </ul>

    <h4 class="underline-text">special thanks:</h4>
      <ul class="list-unstyled">
        <div class="about-list-items">
          <li>Debbie Milburn</li>
          <li>Devin Mandelbaum</li>
          <li>Iuliia Kotlenko</li>
          <li>Jenny Lee</li>
          <li>Mark Stewart</li>
          <li>Natalie Polen</li>
          <li>Nicola Beuscher</li>
          <li>Pan Wangperawong</li>
          <li>Phil Sofia</li>
          <li>Ryan Jafari</li>
          <li>Sam Blackman</li>
          <li>Zack Mance</li>
        </div>
      </ul>


</div>