<div id="homepage-tab" class="container homepage-container">

    <div class="row homepage-header">

      <div class="col-xs-6 homepage-header-text">
          <p id="tagline-text">politics simplified...</p>
          <h1 id="homepage-title-text">FLIP FLOP</h1>
      </div>

      <div class="col-xs-6 homepage-logo-container">
        <%= image_tag("flip_flop_logo.png", class: "logo-image pull-right") %>
      </div>
    </div>

    <div class="homepage-tab-container">

        <ul class="nav nav-pills">

          <li class="active">
            <a href="#1b" data-toggle="tab" class="tab-text">CONGRESS</a>
          </li>
          <li><a href="#2b" data-toggle="tab" class="tab-text">TWITTER</a>
          </li>
        </ul>

          <div class="tab-content clearfix homepage-tab-content">


          <!--- CONGRESS TAB -->


            <div class="tab-pane active" id="1b">

            <!-- search bar container -->
          
              <div class="hidden-md hidden-lg">
              <h5 class="text-center" id="search-header-text">search for a politician in congress</h5>
                <div id="home-search-bar-div"><%= render partial: '/pages/legis_search', layout: false %> 
                </div>
              </div>


            <!-- END search bar container -->

            <!-- congress header and text row-->

              <div class="issue-icon-rows">
                <div class="row">

                  <div class="col-xs-4 col-md-2 select-issue-icons-header">
                    <%= image_tag("congress_icon.png", class: "homepage-issue-icon-header") %>
                  </div>

                  <div class="col-xs-8 col-md-10 issues-tab-heading-text">
                    <div class="hidden-sm hidden-xs hidden-small-search-container">
                      <h5 class="text-center" id="search-header-text">search for a politician in congress</h5>
                    <div id="home-search-bar-div"><%= render partial: '/pages/legis_search', layout: false %> 
                    </div>
                </div>

                    <h4 class="select-issue-text">select a key issue to see a politician's voting activity</h4>
                  </div>
                </div>

                <!-- END congress header and text row-->

                <!-- first row congress icons - 2 icons-->

                <div class="row">

                  <div class="col-xs-4 col-md-2">
                  <%= link_to image_tag("issue_congress_economy.png", class: "homepage-issue-icon"), category_path(@congress_economy) %>
                  </div>

                  <div class="col-xs-4 col-md-2">
                  <%= link_to image_tag("issue_congress_gunlaws.png", class: "homepage-issue-icon"), category_path(@congress_gunlaws) %>
                  </div>

                  <div class="col-xs-4 col-md-2">
                    <%= link_to image_tag("issue_congress_healthcare.png", class: "homepage-issue-icon"), category_path(@congress_healthcare) %>
                  </div>

                   <div class="hidden-xs hidden-sm col-md-2">
                    <%= link_to image_tag("issue_congress_immigration.png", class: "homepage-issue-icon"), category_path(@congress_immigration) %>
                  </div>

                  <div class="hidden-xs hidden-sm col-md-2">
                    <%= link_to image_tag("issue_congress_lgbtq.png", class: "homepage-issue-icon"), category_path(@congress_lgbtq) %>
                  </div>

                  <div class="hidden-xs hidden-sm col-md-2">
                    <%= image_tag("empty_image.png", class: "homepage-issue-icon") %>
                  </div>

                </div>
              </div>

                <!-- END first row congress icons - 2 icons-->

                <!-- second row congress icons - 3 icons-->

                <div class="row">

                  <div class="col-xs-4 hidden-md hidden-sm hidden-lg hidden-xl">
                    <%= link_to image_tag("issue_congress_immigration.png", class: "homepage-issue-icon"), category_path(@congress_immigration) %>
                  </div>

                  <div class="col-xs-4 hidden-md hidden-sm hidden-lg hidden-xl">
                    <%= link_to image_tag("issue_congress_lgbtq.png", class: "homepage-issue-icon"), category_path(@congress_lgbtq) %>
                  </div>

                  <div class="col-xs-4 hidden-md hidden-sm hidden-lg hidden-xl">
                    <%= image_tag("empty_image.png", class: "homepage-issue-icon") %>
                  </div>

                </div>

                <!-- second row congress icons - 3 icons-->


            </div>
          

            <!--- TWITTER TAB -->

            <div class="tab-pane" id="2b">

              <!-- search bar container -->

               <div class="hidden-md hidden-lg">
                  <h5 class="text-center" id="search-header-text">search for a politician on twitter</h5>

                  <div id="home-search-bar-div"><%= render partial: '/pages/twitter_search', layout: false %> 
                  </div>
                </div>


              <!-- END search bar container -->

              <!-- twitter header and text row -->

              <div class="issue-icon-rows">
                <div class="row">

                  <div class="col-xs-4 col-md-2 select-issue-icons-header">
                    <%= image_tag("twitter_logo_icon.png", class: "homepage-issue-icon-header") %>
                  </div>

                <div class="col-xs-8 col-md-10 issues-tab-heading-text">
                    <div class="hidden-sm hidden-xs hidden-small-search-container">
                      <h5 class="text-center" id="search-header-text">search for a politician on twitter</h5>

                  <div id="home-search-bar-div"><%= render partial: '/pages/twitter_search', layout: false %> 
                  </div>

                  </div>

                  <h4 class="select-issue-text text-right">select a key issue to see a politician's twitter activity</h4>
                </div>
              </div>             

              <!-- END twitter header and text row -->
        
              <!-- first row twitter icons - 3 icons-->

            <div class="row">
      
                  <div class="col-xs-4 col-md-2">
                    <%= link_to image_tag("issue_twitter_economy.png", class: "homepage-issue-icon"), issue_path(@twitter_economy) %>
                  </div>

                  <div class="col-xs-4 col-md-2">
                    <%= link_to image_tag("issue_twitter_gunlaws.png", class: "homepage-issue-icon"), issue_path(@twitter_gunlaws) %>
                  </div>

                  <div class="col-xs-4 col-md-2">
                    <%= link_to image_tag("issue_twitter_healthcare.png", class: "homepage-issue-icon"), issue_path(@twitter_healthcare) %>
                  </div>


                   <div class="hidden-xs hidden-sm col-md-2">
                    <%= link_to image_tag("issue_twitter_immigration.png", class: "homepage-issue-icon"), issue_path(@twitter_immigration) %>
                  </div>

                  <div class="hidden-xs hidden-sm col-md-2">
                    <%= link_to image_tag("issue_twitter_lgbtq.png", class: "homepage-issue-icon"), issue_path(@twitter_lgbtq) %>
                  </div>

                  <div class="hidden-xs hidden-sm col-md-2">
                    <%= image_tag("empty_image.png", class: "homepage-issue-icon") %>
                  </div>

                </div>
                </div>

              <!-- END first row twitter icons - 3 icons -->

              <!-- second row twitter icons - 2 icons + invisible image -->

                <div class="row">
                  
                  <div class="col-xs-4 hidden-md hidden-sm hidden-lg hidden-xl">
                    <%= link_to image_tag("issue_twitter_immigration.png", class: "homepage-issue-icon"), issue_path(@twitter_immigration) %>
                  </div>

                  <div class="col-xs-4 hidden-md hidden-sm hidden-lg hidden-xl">
                    <%= link_to image_tag("issue_twitter_lgbtq.png", class: "homepage-issue-icon"), issue_path(@twitter_lgbtq) %>
                  </div>

                  <div class="col-xs-4 hidden-md hidden-sm hidden-lg hidden-xl">
                    <%= image_tag("empty_image.png", class: "homepage-issue-icon") %>
                  </div>

                </div>      

              </div>
            </div>

            <!-- END second row twitter icons - 2 icons + invisible image -->     

    </div>
    </div>
  
















