 <div id="homepage-tab" class="container homepage-container">

    <div class="row homepage-header">
      <div class="col-xs-6 homepage-header-text">
          <p id="tagline-text">politics simplified...</p>
          <h1 id="homepage-title-text">FLIP FLOP</h1>
      </div>

      <div class="col-xs-6 homepage-logo-container">
        <%= image_tag("flip_flop_logo.png", class: "logo-image") %>
      </div>
    </div>

        <ul class="nav nav-pills">

          <li class="active">
            <a href="#1b" data-toggle="tab" class="tab-text">CONGRESS</a>
          </li>
          <li><a href="#2b" data-toggle="tab" class="tab-text">TWITTER</a>
          </li>
        </ul>


          <div class="tab-content clearfix homepage-tab-content">



          <!--- CONGRESS TAB -->

            <div class="tab-pane active" id="1b">
          
              <h5 class="text-center" id="search-header-text">search for a politician in congress</h5>
                <div id="home-search-bar-div"><%= render partial: '/pages/legis_search', layout: false %> 
                </div>

                <div class="row congress-issue-icon-container-row-one">

                  <div class="col-xs-4">
                  <%= image_tag("congress_icon.png", class:"homepage-issue-icon-header-congress") %>
                  </div>

                  <div class="col-xs-8">
                    <h4 class="issues-tab-heading-text">select a key issue to see a politician's legislative activity</h4>
                  </div>
                </div>


                <div class="row congress-issue-icon-container-row-two">

                  <div class="col-xs-6">
                  <%= link_to image_tag("issue_congress_economy.png", class: "homepage-issue-congress-icon-row-one"), category_path(@congress_economy) %>
                  </div>

                  <div class="col-xs-6">
                  <%= link_to image_tag("issue_congress_gunlaws.png", class: "homepage-issue-congress-icon-row-one"), category_path(@congress_gunlaws) %>
                  </div>

                </div>


                <div class="row congress-issue-icon-container-row-three">
                  <div class="col-xs-4">
                    <%= link_to image_tag("issue_congress_healthcare.png", class: "homepage-issue-congress-icon-row-three"), category_path(@congress_healthcare) %>
                  </div>

                  <div class="col-xs-4">
                    <%= link_to image_tag("issue_congress_immigration.png", class: "homepage-issue-congress-icon-row-three"), category_path(@congress_immigration) %>
                  </div>

                  <div class="col-xs-4">
                    <%= link_to image_tag("issue_congress_lgbtq.png", class: "homepage-issue-congress-icon-row-two"), category_path(@congress_lgbtq) %>
                  </div>

                </div>

            </div>
          

            <!--- TWITTER TAB -->

            <div class="tab-pane" id="2b">


                <h5 class="text-center" id="search-header-text">search for a politician on twitter</h5>

                <div id="home-search-bar-div"><%= render partial: '/pages/twitter_search', layout: false %> 
                </div>

                <div class="row congress-issue-icon-container-row-one">

                  <div class="col-xs-4">
                    <%= image_tag("twitter_logo_icon.png", class:"homepage-issue-icon-header-twitter") %>
                  </div>

                <div class="col-xs-8">

                  <h4 class="issues-tab-heading-text">select a key issue to see a politician's twitter activity</h4>
                </div>
              </div>
        

            <div class="row congress-issue-icon-container-row-two">
      
                  <div class="col-xs-6">
                  <%= link_to image_tag("issue_twitter_economy.png", class: "homepage-issue-congress-icon-row-one"), issue_path(@twitter_economy) %>
                  </div>

                  <div class="col-xs-6">
                  <%= link_to image_tag("issue_twitter_gunlaws.png", class: "homepage-issue-congress-icon-row-one"), issue_path(@twitter_gunlaws) %>
                  </div>

                </div>


                <div class="row congress-issue-icon-container-row-three">
                  <div class="col-xs-4">
                    <%= link_to image_tag("issue_twitter_healthcare.png", class: "homepage-issue-congress-icon-row-three"), issue_path(@twitter_healthcare) %>
                  </div>

                  <div class="col-xs-4">
                    <%= link_to image_tag("issue_twitter_immigration.png", class: "homepage-issue-congress-icon-row-three"), issue_path(@twitter_immigration) %>
                  </div>

                  <div class="col-xs-4">
                    <%= link_to image_tag("issue_twitter_lgbtq.png", class: "homepage-issue-congress-icon-row-two"), issue_path(@twitter_lgbtq) %>
                  </div>

                </div>      

              </div>
              </div>
              </div>            
          </div>


















