

  <div id="homepage-tab" class="container homepage-container">

    <div class="row homepage-header">
      <div class="col-xs-6 homepage-header-text">
          <p id="tagline-text">do their words match their actions or do they...</p>
          <h1 id="homepage-title-text">FLIP FLOP</h1>
      </div>

      <div class="col-xs-6 homepage-logo-container">
        <%= image_tag("flip_flop_logo.png", class: "logo-image") %>
      </div>
    </div>

        <ul class="nav nav-pills">

          <li class="active">
            <a href="#1b" data-toggle="tab" class="tab-text">CONGRESS</a>
          </li>
          <li><a href="#2b" data-toggle="tab" class="tab-text">TWITTER</a>
          </li>
        </ul>




          <div class="tab-content clearfix homepage-tab-content">



            <!--- CONGRESS TAB -->

            <div class="tab-pane active" id="1b">
          
              <h5 class="text-center" id="search-header-text">search for a legislator in congress</h5>
                <div id="home-search-bar-div"><%= render partial: '/pages/search_bar', layout: false %> 
                </div>

                <div class="row">

                  <div class="col-xs-4">
                  <%= image_tag("congress_icon.png", class:"homepage-issue-icon-header") %>
                  </div>

                  <div class="col-xs-8">
                    <h4 class="issues-tab-heading-text">select a key issue below to see a legislator's activity</h4>
                  </div>
                </div>

                  <%= link_to image_tag("issue_congress_economy.png", class: "homepage-issue-icon"), root_path %>

                  <%= link_to image_tag("issue_congress_gunlaws.png", class: "homepage-issue-icon"), root_path %>
                  <%= link_to image_tag("issue_congress_healthcare.png", class: "homepage-issue-icon"), root_path %>

                  <%= link_to image_tag("issue_congress_immigration.png", class: "homepage-issue-icon"), root_path %>

                  <%= link_to image_tag("issue_congress_lgbtq.png", class: "homepage-issue-icon"), root_path %>
            </div>



            <!--- TWITTER TAB -->

            <div class="tab-pane" id="2b">

                          <h5 class="text-center" id="search-header-text">search for a politician on twitter</h5>
                <div id="home-search-bar-div"><%= render partial: '/pages/search_bar', layout: false %> 
                </div>


                  <%= image_tag("twitter_logo_icon.png", class:"homepage-issue-icon-header") %>
                  <h4 class="issues-tab-heading-text">select a key issue to see a politician's twitter activity</h4>

                  <% @issues.each do |issue| %>
                    <%= link_to image_tag(issue.image, class: "homepage-issue-icon"), issue_path(issue) %>
                  <% end %>

              </div>

               
            </div>
            
          </div>

