
<h1> Politician Name: <%= @politician.name %> </h1>

<h1> Issue: <%= @issue.name %> </h1>
<%= link_to "#{@politician.name} Main Page", politician_path(@politician) %>

<h1> <%= @politician.name %>'s Tweets on "<%= @issue.name %>": </h1>

<% result_bucket = [] %>

<% @all_tweets.each do |tweet| %>
  <% @issue.keywords.each do |keyword| %>
    <% if tweet.full_text.include?(keyword) && result_bucket.include?(tweet) == false %>
      <% result_bucket << tweet %>
    <% end %>
  <% end %>
<% end %>

<ul>
<% result_bucket.each do |tweet| %>
  <li> <%= tweet.full_text %> </li>
<% end %>
</ul>

