<div class="container">

  <div class="row">
    <div class="col-xs-6">
      <div class="circle"></div>
      <%= image_tag @politician.image_url(:thumb) if @politician.image? %>
    </div>
    
    <div class="col-xs-6">
      <div class="circle"></div>
      <p>issue: <%= @issue.name %> </p>

    </div>

  </div>


    <h3><%= link_to "#{@politician.name}", politician_path(@politician) %></h3>
    <p>@<%= @politician.twitter_handle %> </p>
    <p><%= @politician.twitter_profile %> </p>



<% result_bucket = [] %>

<% @all_tweets.each do |tweet| %>
  <% @issue.keywords.each do |keyword| %>
    <% if tweet.full_text.include?(keyword) && result_bucket.include?(tweet) == false %>
      <% result_bucket << tweet %>
    <% end %>
  <% end %>
<% end %>

<ul class="list-unstyled">

  <div class="tweet-container">
    <% result_bucket.each do |tweet| %>
    <div class="individual-tweet">
      <li><%= tweet.full_text %> <p class="tweet-timestamp"><%= tweet.created_at.strftime('%B %e, %Y, %I:%M%p') %></p></li>
    </div>
    <% end %>
  </div>

</ul>


</div>
