<div class="container heading-container">
  <h2 class="heading-text">Politicians in U.S. Congress</h2>
  <h4 id="legislator-index-sub-heading-text">Click on a legislator's name to view their voting record on select issues</h4>

    <div id="home-search-bar-div"><%= render partial: '/legislators/congress_search', layout: false %> 
                </div>

  <div class="legislator-index-container">
  <div class="row">
    <div class="col-xs-6">
      <h2 class="sub-heading-text">Senators</h2>

        <% @legislators.each do |legislator| %>
          <% if legislator.chamber == "Senate" %>
          <ul class="list-unstyled">
            <li class="legislator-name-link-text"><%= link_to legislator.first_name + " " + legislator.last_name, root_path %></li>
            <% if legislator.party == "R" %>
              <li><%= "Republican" %>, <%= legislator.state %></li>
            <% else %>
              <li><%= "Democrat" %>, <%= legislator.state %></li>
              <% end %>
            </ul>
            <% end %>
          <% end %>
        </div>
         <div class="col-xs-6">
          <h2 class="sub-heading-text">U.S. Representatives</h2>
            <% @legislators.each do |legislator| %>
              <% if legislator.chamber == "House" %>
                <ul class="list-unstyled">
                  <li class="legislator-name-link-text"><%= link_to legislator.first_name + " " + legislator.last_name, root_path %></li>
                <% if legislator.party == "R" %>
                  <li><%= "Republican" %>, <%= legislator.state %></li>
                <% else %>
                  <li><%= "Democrat" %>, <%= legislator.state %></li>
                <% end %>
              </ul>
              <% end %> 
            <% end %>
          </div>
        </div>
    </div>
</div>

