<div class="container header-container">
  <h2 class="heading-text"><%= @legislator.first_name%> <%= @legislator.last_name %></h2>

     <% if @legislator.chamber == "Senate" %>
        <h4>Senator</h4>
      <% end %>

      <% if @legislator.chamber == "House" %>
        <h4>House of Representatives</h4>
      <% end %>

      <% if @legislator.party == "R" %>
        <h4><%= "Republican" %>, <%= @legislator.state %></h4>
      <% else %>
           <h4><%= "Democrat" %>, <%= @legislator.state %></h4>
        <% end %>

        <h5>Next Election: <%= @legislator.next_election %></h5>

    <div class="row">
      <div class="col-xs-7">
        <div class="legislator-show-chart-container"></div>
      </div>
      <div class="col-xs-5 vote-info-container">
        <h5 class="vote-info-text">Guns - Y</h5>
        <h5 class="vote-info-text">Guns - N</h5>
        <h5 class="vote-info-text">Immigration - Y</h5>
        <h5 class="vote-info-text">Immigration - N</h5>
        <h5 class="vote-info-text">LGBTQ - Y</h5>
        <h5 class="vote-info-text">LGBTQ - N</h5>
        <h5 class="vote-info-text">Economy - Y</h5>
        <h5 class="vote-info-text">Economy - N</h5>
        <h5 class="vote-info-text">Healthcare - Y</h5>
        <h5 class="vote-info-text">Healthcare - N</h5>
      </div>

    </div>

<script type="text/javascript" src="legislators.js"></script>



