<h5 class="top-home-link"><%= link_to "flip flop", root_path %></h5>
<div class="container header-container">
  <h2 class="heading-text"><%= image_tag("congress_icon-bw.png", class: "congress-mini-icon") %><%= @legislator.first_name%> <%= @legislator.last_name %></h2>

     <% if @legislator.chamber == "Senate" %>
        <h4>Senator</h4>
      <% end %>

      <% if @legislator.chamber == "House" %>
        <h4>House of Representatives</h4>
      <% end %>

      <% if @legislator.party == "R" %>
        <h4><%= "Republican" %>, <%= @legislator.state %></h4>
      <% else %>
           <h4><%= "Democrat" %>, <%= @legislator.state %></h4>
        <% end %>

        <h5>Next Election: <%= @legislator.next_election %></h5>

    <div class="row">
      <div class="col-xs-7">
        <div class="legislator-show-chart-container"></div>
      </div>


      <div class="col-xs-5">

        <div class="vote-info-container">
          <p class="vote-info-text vote-info-bold">Gun Laws</p>
          <p class="vote-info-text">Yes Votes</p>
        </div>

        <div class="vote-info-container">
          <p class="vote-info-text vote-info-bold">Gun Laws</p>
          <p class="vote-info-text">No Votes</p
          >
        </div>

        <div class="vote-info-container">
          <p class="vote-info-text vote-info-bold">Immigration</p>
          <p class="vote-info-text">Yes Votes</p>
        </div>

        <div class="vote-info-container">
          <p class="vote-info-text vote-info-bold">Immigration</p>
          <p class="vote-info-text">No Votes</p>
        </div>

        <div class="vote-info-container">
          <p class="vote-info-text vote-info-bold">LGBTQ</p>
          <p class="vote-info-text">Yes Votes</p>
        </div>

        <div class="vote-info-container">
          <p class="vote-info-text vote-info-bold">LGBTQ</p>
          <p class="vote-info-text">No Votes</p>
        </div>

        <div class="vote-info-container">
          <p class="vote-info-text vote-info-bold">Economy</p>
          <p class="vote-info-text">Yes Votes</p>
        </div>
        
        <div class="vote-info-container">
          <p class="vote-info-text vote-info-bold">Economy</p>
          <p class="vote-info-text">No Votes</p>
        </div>

        <div class="vote-info-container">
          <p class="vote-info-text vote-info-bold">Healthcare</p>
          <p class="vote-info-text">Yes Votes</p>
        </div>

        <div class="vote-info-container">
          <p class="vote-info-text vote-info-bold">Healthcare</p>
          <p class="vote-info-text">No Votes</p>
        </div>

      </div>

    </div>

<script type="text/javascript" src="legislators.js"></script>



