<div id="homepage-tab" class="container header-container">
  <h2 class="heading-text"><%= image_tag("twitter_logo.png", class: "twitter-mini-icon") %><%= @politician.name%></h2>

  <div class="row">
    <div class="col-xs-4">
      <%= image_tag(@politician.image, class: "politician-image-large") if @politician.image?  %>
    </div>

    <div class="col-xs-8">
      <h3 class="twitter-profile-content"><%= @politician.name %></h3>
      <h4 class="twitter-profile-content"><%= @politician.title %></h4>
      <h5 class="twitter-profile-content"><%= @politician.political_party %></h5>
      @<%= @politician.twitter_handle %>
      </div>

  </div>

  <div class="politician-profile">
    <%= url_changer(@politician.twitter_profile).html_safe %>
  </div>

  <div class="number-of-tweets-text">
  # of tweets per issue
  </div>

  <div class="row">

    <div class="col-xs-8 d3-chart-container">

      <div id="politician-show-chart"></div>

    </div>

    <div class="col-xs-4">
      <% @politician.issues.each do |issue| %>
        <div class="politician-show-icon-column">
        <p><%= link_to image_tag(issue.image, class: "politician-show-icon-image"), interest_path(issue, :politician_id => @politician.id) %></p>
        </div>
       <% end %>
    </div>
  </div>

</div>
</div>


<script type="text/javascript" src="graph.js"></script>