<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= image_tag(@politician.image, class: "politician-image") if @politician.image?  %>
    </div>

    <div class="col-xs-8">
      <h3><%= @politician.name %></h3>
      @<%= @politician.twitter_handle %>
      </div>

  </div>

      <%= @politician.twitter_profile %>

<div id="chart">
</div>


<h2> <%= @politician.name %>'s Key Issues | Number of Tweets </h2>
<h2>
  <ol>
    <% @politician.issues.each do |issue| %>

    <li> <%=  issue.name %>: <%= link_to "#{@politician.issue_tweets(issue.name).length}", interest_path(issue, :politician_id => @politician.id) %> </li>
    <% end %>
  </ol>
</h2>


</div>

<script type="text/javascript" src="graph.js"></script>