<div class="container">
  <h2>Politician Name: <%= @politician.name %> </h2>


<h2>Twitter Handle: @<%= @politician.twitter_handle %> </h2>
<h2>Twitter Profile: <%= @politician.twitter_profile %> </h2>

<h2>Photo: </h2> <%= image_tag @politician.image_url(:thumb) if @politician.image? %>


<h2> <%= @politician.name %>'s Key Issues:</h2>

<h2>
  <ol>
    <% @politician.issues.each do |issue| %>

    <li> <%=  link_to "#{issue.name}", interest_path(issue, :politician_id => @politician.id) %> </li>


    <% end %>
  </ol>


 <% @polit 
</h2>

</div>


