<h5 class="top-home-link"><%= link_to "flip flop", root_path %></h5>
<div class="container header-container">
  <h2 class="heading-text"><%= image_tag("twitter_logo.png", class: "twitter-mini-icon") %><%= @politician.name%></h2>

  <div class="row">
    <div class="col-xs-4">
      <%= image_tag(@politician.image, class: "politician-image-large") if @politician.image?  %>
    </div>

    <div class="col-xs-8">
      <h3><%= @politician.name %></h3>
      @<%= @politician.twitter_handle %>
      </div>

  </div>

  <div class="politician-profile">
    <%= url_changer(@politician.twitter_profile).html_safe %>
  </div>

  <div class="row">
    <div class="col-xs-8 issues-show-politician-list-text">

      <div id="politician-show-chart"></div>
    </div>

    <div class="col-xs-4 politician-show-icon-column">
      <% @politician.issues.each do |issue| %>
        <p><%= link_to image_tag(issue.image, class: "homepage-issue-icon"), interest_path(issue, :politician_id => @politician.id) %></p>
       <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" src="graph.js"></script>