<div class="container header-container">
  <h2 class="heading-text"><%= @politician.name%></h2>

  <div class="row">
    <div class="col-xs-4">
      <%= image_tag(@politician.image, class: "politician-image") if @politician.image?  %>
    </div>

    <div class="col-xs-8">
      <h3><%= @politician.name %></h3>
      @<%= @politician.twitter_handle %>
      </div>

  </div>

  <div class="politician-profile">
    <%= @politician.twitter_profile %>
  </div>

  <div class="politician-show-graph-header">
    <h4 id="number-of-tweets-text"><%= @politician.name %>: # of tweets per issue</h4>
    <p id="click-to-view-tweets-text">click to view their recent tweets on each issue</p>
  </div>

  <div class="row politician-show-graph-container">
    <div class="col-xs-8 issues-show-politician-list-text">
      <div id="politician-show-chart"></div>
    </div>
    <div class="col-xs-4 politician-show-icon-column">
      <% @politician.issues.each do |issue| %>
        <p><%= link_to image_tag(issue.image, class: "homepage-issue-icon"), interest_path(issue, :politician_id => @politician.id) %></p>
       <% end %>
    </div>


</div>

<script type="text/javascript" src="graph.js"></script>