<!DOCTYPE html>
<html>
<head>
  <title>FlipFlop</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<%= link_to "Home", root_path %> |
<%= link_to "Issues", issues_path %> |
<%= link_to "Politicians", politicians_path %>
<%= yield %>

</body>
</html>
